        body{
            background: #f4f3ed;
        }
        .clearfix::after{
            content:'';
            display: block;
            clear: both;

        }
        .hidden{
            display: none!important;
            visibility: hidden!important;
        }

        /* 单选按钮 */
        .radio label{
            display: block;
            width: 16px;
            height: 16px;
            float: left;
            margin-right: 10px;
            position: relative;
            border-radius: 50%;
            background-image: linear-gradient(to bottom, #ECE7E5, #E2DDDB);
            box-shadow: inset 0 1px 1px #A7A7A6;
        }
        .radio input{
            padding: 0;
            margin: 0;
            /*box-sizing: border-box;*/
        }    
        .radio i{
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            
        }
        .radio input[type=radio]:checked+i {
            top: 4px;
            left: 4px;
            width: 8px;
            height: 8px;
            background: #C8C7C4;
            border-radius: 50%;
            display: inline-block;
            box-shadow: inset 0 1px 1px #959694;
        }     
        .box1 input[type=radio]:checked+i{
            background: #E99250;
            box-shadow: inset 0 1px 1px #BE7945;
        }
        .play{
            margin-top: 30px;
        }

        /* checkbox */
        .check{
            margin-top: 30px;
        }
        .check label{
           
            width: 14px;
            height: 14px;
            float: left;
            margin-right: 10px;
            position: relative;
            background: linear-gradient(to bottom,#ede8e6,#e0dddb);
            box-shadow: inset 0 1px 1px #a7a7a6;  
            border-radius: 1px;
        }
        .check1,.check2{
            width: 14px;
            height: 14px;
            position: absolute;
            
        }
        .check input:checked + .check1{
            background: url(images/check1.gif) no-repeat 3px 3px;
        }
        .check input:checked + .check2{
            background: url(images/check2.gif) no-repeat 3px 3px;
        }

        /* 音乐按钮 */
        .play label{
            display: block;
            width: 30px;
            height: 30px;
            float: left;
            margin-right: 10px;
            position: relative;          
        }
        .play span{
            display: block;
            width: 30px;
            height: 30px;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(to bottom, #fdfcfb, #e4dfdc);
            box-shadow: 0 2px 5px #aeadab;
            border-radius: 5px;
        }
        .play i{
            display: block;
            position: absolute;
            top: 10px;
            left: 12px;
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 7px solid #ccc;
            border-radius: 1px;

        }
        input[type=checkbox]:checked ~ span{
            background: #fbfbf9;
        }
        
        .play-two input[type=checkbox]:checked ~ span,
        .play-four input[type=checkbox]:checked ~ span
        {
            background: #ece8e6;
            box-shadow: inset 0 2px 5px #aeadab;
        }
        .play-two input[type=checkbox]:checked ~ i,
        .play-four input[type=checkbox]:checked ~ i{
             border-left: 7px solid #e99250;
        }
        .play .play-three span,.play .play-four span{
            border-radius: 50%;
        }
        /* button样式 */
        
        .button{
            margin-top: 30px;
        }
        .button label{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 31px;
            background: linear-gradient(to bottom,#e3dfde,#ffffff);
            border-radius: 3px;
            float: left;
            margin-right: 8px;

        }
        .button div{
            width: 72px;
            height: 22px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #7d8383;
            font-size: 12px;
            background: linear-gradient(to bottom,#fbfaf4,#ece8e6);
            box-shadow: 0 2px 3px #cbc9c4;
            border-radius: 2px;
            cursor: pointer;
            user-select: none;
            
        }
        .button input[type=checkbox]:checked + div{
            background: #fbfbf9;
        }
        .button .button2 input[type=checkbox]:checked + div,
        .button .button4 input[type=checkbox]:checked + div{
            background: #ece8e6;
            box-shadow: inset 0 2px 3px #cbc9c4;
            color: #e99250;
        }
        .button label.button3,
        .button label.button4{
            border-radius: 30px;
        }
        .button label.button3 div,
        .button label.button4 div{
            border-radius: 30px;
        }

        /* share button */

        .share{
            width: 32px;
            height: 32px;
            margin-top: 30px;
            background: linear-gradient(to bottom,#e3dfde,#ffffff);
            border-radius: 50%;
            position: relative;

        }
        .share a,.search a{
            display: block;
            width: 24px;
            height: 24px;
            position: absolute;
            top: 4px;
            left: 4px;
            border-radius: 50%;
            background: linear-gradient(to bottom, #fbf7f2,#ebe7e5);
            box-shadow: 0 2px 1px #bebeb7;
        }
        .share img,.search img{
            position: absolute;
            top: 6px;
            left: 5px;
        }

        /* search */

        .search{
            width: 170px;
            height: 32px;
            background: linear-gradient(to bottom,#e3dfde,#ffffff);
            position: relative;
            margin-top: 30px;
            border-radius: 50px;
            color: #a1a6a6;
        }
        .search input{
            display: block;
            width: 94px;
            position: absolute;
            top: 7px;
            left: 40px;
            background: transparent;
            border: none;
            outline: none;
            color: #a1a6a6;
        }
        /* switch */
        .switch{
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .dot1,.dot2{
            float: left;
            width: 4px;
            height: 4px;
            margin-right: 6px;
            margin-top: 6px;
            border: 2px solid #e99250;
            border-radius: 50%;
        }
        .dot1{
            background: linear-gradient(to bottom,#f5f4f1,#f0eeeb);
        }
        .dot2{
            background: #e99250;
        }
        .switch label{
            float: left;
            width: 50px;
            height: 20px;
            margin-right: 6px;
            background: linear-gradient(to bottom,#e3dfde,#ffffff);
            position: relative;
            border-radius: 30px;
        }
        .switch .bg{
            width: 42px;
            height: 12px;
            position: absolute;
            top: 4px;
            left: 4px;
            background: linear-gradient(to bottom,#f2efeb,#f0ece7);
            box-shadow: inset 0 2px 2px #bdbdb6;
            border-radius: 20px;
        }
        .switch .circle{
            width: 16px;
            height: 16px;
           
            position: absolute;
            top: 2px;
            left: 3px;
            background: linear-gradient(to bottom,#fbf9f3,#eae7e4);
            border-radius: 50%;
            box-shadow: 0 1px 2px #b9b6b2;

        }
        .circle div{
            width: 8px;
            height: 8px;
            position: absolute;
            top: 4px;
            left: 4px;
            background: linear-gradient(to bottom,#ccc,#fbf9f3);
            border-radius: 50%;
        }
        .switch input:checked ~ .bg{
            background: linear-gradient(to bottom,#fb9c53,#ec9551);
            box-shadow: inset 0 2px 2px #ca793b
        }
        .switch input:checked ~ .circle{
            left: 31px;
        }



        
